@charset "UTF-8";

body{
	background: #F5F5DC;
	font-size:1.8em;
}
img{
	width: 600px;
	height:auto;
	margin:1em;
}
#entete{
	background:#279EF5;
	box-shadow: 10px 10px black;
	border-bottom-right-radius:30px;
	border-bottom-left-radius:30px;
	color:white;
}
#retour{
	font-size: 1.5em;
	background: #279EF5;
	border-radius: 15px;
	box-shadow: 10px 10px black;
  	border:1px black;
  	color:white;
}
