@charset "UTF-8";

body{
	background:#F5F5DC;
	font-size:1.8em;
}
select{
	margin: 1em;
	font-size:1em;
}
option{
	font-size:0.5em;
}
img{
	width: auto;
	height: 600px;
	margin:1em;
}
.erreur{
	color:red;
}
label{
	margin:1em;
}
input{
	margin: 1em;
	border:1px solid black;
}
#entete{
	background:#279EF5;
	box-shadow: 10px 10px black;
	border-bottom-right-radius:30px;
	border-bottom-left-radius:30px;
	color:white;
}
#adresse{
	margin:1em;
}
#description{
	/*margin-top:1em;*/
}
#exampleFormControlTextarea1{
	font-size: 1em;
	resize:none;
	width:385px;
	border:1px solid black;
	margin:1em;
}
#publier{
	color:white;
	font-size: 1em;
	background: #279EF5;
	border-radius: 15px;
	box-shadow: 10px 10px black;
 	border:1px black;
}
#enregistrer{
	color:white;
	font-size: 1em;
	background: #279EF5;
	border-radius: 15px;
	box-shadow: 10px 10px black;
  	border:1px black;
}
#annuler{
	color:white;
	font-size: 1em;
	background: #279EF5;
	border-radius: 15px;
	box-shadow: 10px 10px black;
  	border:1px black;
}