@charset "ISO-8859-1";

@charset "ISO-8859-1";

body{
	background:grey;
	font-size:1.8em;
}
label{
	margin:1em;
	color:white;
}
input{
	margin: 1em;
}
#credit{
	margin: 1em;
	color:white;
}
#enregistrer{
	font-size: 1em;
	width: 200px;
	height: 150px;
	background: green;
	border-radius: 15px;
	box-shadow: 10px 10px black;
 	border:1px black;
}
#supprimer{
	font-size: 1em;
	position:relative;
	top:-20px; left:30px;
	width: 200px;
	height: 150px;
	background: green;
	border-radius: 15px;
	box-shadow: 10px 10px black;
  	border:1px black;
}
#retour{
	font-size: 1em;
	position:relative;
	top:-170px; left:625px;
	width: 200px;
	height: 150px;
	background: green;
	border-radius: 15px;
	box-shadow: 10px 10px black;
  	border:1px black;
}