@charset "UTF-8";

body{
	background:#F5F5DC;
	font-size:1.8em;
}
label{
	margin:1em;
}
input{
	margin: 1em;
	border:1px solid black;
}
#entete{
	background:#279EF5;
	box-shadow: 10px 10px black;
	border-bottom-right-radius:30px;
	border-bottom-left-radius:30px;
	color:white;
}
.erreur{
	color: red;
}
#credit{
	margin: 1em;
}
#enregistrer{
	color:white;
	font-size: 1em;
	background: #279EF5;
	border-radius: 15px;
	box-shadow: 10px 10px black;
 	border:1px black;
}
#supprimer{
	color:white;
	font-size: 1em;
	background: #279EF5;
	border-radius: 15px;
	box-shadow: 10px 10px black;
  	border:1px black;
}
#retour{
	color:white;
	font-size: 1em;
	background: #279EF5;
	border-radius: 15px;
	box-shadow: 10px 10px black;
  	border:1px black;
}